<html>
    <head>
        <title>Update password</title></head>
        <body>
            <form action="{{ url_for('updatepass') }}" method="post">
                <div>
            <h2><u>Password</u></h2>
            <input type="password" class="form-control" name="password" required>
            <h2><u>Confirm Password</u></h2>   
            <input type="password" class="form-control" name="cpassword" required>
            <br>
            <input type="submit" name="submit" class="form-control" value="submit">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            <br><br>
            <a href="{{ url_for('login') }}" title="Login Page">Login </a>
        </body>
</html>