<html>
    <head>
        <title>Forgot Password</title></head>
        <body>
            <form action="{{ url_for('sendmail') }}" method="post">
           <h2>Forgot Password</h2>
           <div class="form-group">
           <h2>Email</h2>
           <input type="text" name="email" class="form-control" placeholder="Enter email" required>
           </div>
           <br>
           <input type="submit" name="submit" value="reset">
           {% with messages = get_flashed_messages(with_categories=true) %}
           {% if messages %}
               <ul class=flashes>
                   {% for category, message in messages %}
                   <li class="{{ category }}">{{ message }}</li>
                   {% endfor %}
               </ul>
           {% endif %}
           {% endwith %}
           <br>
           <br>
           <a href="{{ url_for('register') }}" title="register page">Create a new account </a>
        </body>
</html>